.global-container {
    width: 80%;
    max-width: 600px;
    margin: auto;

    .result {
        border: 1px solid gray;
        padding: 30px;
        margin: 20px 0;
    }

    a {
        display: block;
        font-size: 32px;
        font-weight: bold;
        text-decoration: none;
    }

    p {
        border-top: 1px solid gray;
        padding-top: 10px;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    span {
        font-size: 30px;
        width: 200px;
    }

    &__box {
        display: flex;
        width: 100%;
        border: 1px solid gray;

        input {
            padding: 6px;
            font-size: 17px;
            width: 75%;
            border: none;
            outline: none;
        }

        button {
            float: right;
            padding: 9px 20px;
            background: transparent;
            cursor: pointer;
            border: none;
            border-left: 1px dashed gray;
            font-size: 12px;
            outline: none;
        }
    }
}
